@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: "TWKEverett";
  src: url("/fonts/TWKEverett-Regular-web.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-twk {
  font-family: "TWKEverett", sans-serif;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Sidebar Links Style */
@layer sidebar {
  .sidebarLinks {
    @apply hover:bg-gray-200  flex justify-start items-center hover:text-black rounded-md p-2 py-2 hover:transition hover:duration-300 hover:ease-in-out;
  }
}

/* Main Dashboard */
.mainDashboard {
  width: 1244;
  height: 760;
  top: 150px;
  left: 244px;
  /* angle: 0 deg; */
  opacity: 1;
  border-radius: radius-md;
  border-width: 1px;
  padding-bottom: Spacing/1 (4px);
  /* background-color: blue; */
}

/* Kofa logo */
.logo {
  width: 110;
  height: 40;
  top: 12px;
  size: "40";
  color: "Black";
  /* angle: 0 deg; */
  opacity: 1;
}

.icon {
  width: 20;
  height: 20;
  /* property: 1 "sidebar-fill"; */
  top: 22px;
  left: 185px;
  /* angle: 0 deg; */
  opacity: 1;
}

.sidebarBox {
  width: 190;
  height: 178;
  top: 68px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  /* padding-bottom: 15; */
  /* angle: 0 deg; */
  opacity: 1;
  gap: 2;
}

/* Sidebar Spacing */
.sidebarSpacing {
  width: 190;
  height: 34;
  /* angle: 0 deg; */
  opacity: 1;
  gap: 8;
  border-radius: radius-md;
  padding-top: Spacing/2 (8px);
  padding-right: Spacing/4 (12px);
  padding-bottom: Spacing/2 (8px);
  padding-left: Spacing/4 (12px);
}

/* Dashboard Side Image */
.dashboardSideImage {
  width: 16;
  height: 16;
  /* angle: 0 deg; */
  opacity: 1;
}

/* Sidebar Dashboard Text */
.sidebarDashboardText {
  font-family: TWK Everett;
  font-weight: 400;
  font-style: Regular;
  font-size: 13px;
  leading-trim: NONE;
  line-height: 18px;
  letter-spacing: 0px;
}

/* My Riders Icon */
.myRidersIcon {
  width: 16;
  height: 16;
  /* angle: 0 deg; */
  opacity: 1;
}

/* My Riders Text */
.myRidersText {
  font-family: TWK Everett;
  font-weight: 500;
  font-style: Medium;
  font-size: 13px;
  leading-trim: NONE;
  line-height: 18px;
  letter-spacing: 0px;
}

/* My Riders Layout */
.myRidersLayout {
  width: 142;
  height: 18;
  /* angle: 0 deg; */
  opacity: 1;
}

/* Motorbike */
.motorbike {
  width: 16;
  height: 16;
  /* angle: 0 deg; */
  opacity: 1;
}

/* Motorbike Text */
.motorbikeText {
  font-family: TWK Everett;
  font-weight: 400;
  font-style: Regular;
  font-size: 13px;
  leading-trim: NONE;
  line-height: 18px;
  letter-spacing: 0px;
}

/* Search Icon */
.searchIcon {
  width: 16;
  height: 16;
  /* angle: 0 deg; */
  /* opacity: 1; */
}

/* Search Text Area*/
.searchTextArea {
  width: 280;
  height: 38;
  /* angle: 0 deg; */
  opacity: 1;
  border-radius: radius-md;
  padding-top: 10px;
  padding-right: spacing-xl;
  padding-bottom: 10px;
  padding-left: spacing-xl;
  gap: 8px;
  top: 88px;
  left: 244px;
  border-width: 1px;
}

/* Table Row Header */
.tableRowHeader {
  width: 1244;
  height: 42;
  gap: 8;
  /* angle: 0 deg; */
  opacity: 1;
  background-color: #fafbfb;
}

/*Access Table Row Header  */
.accessTableRowHeader {
  width: 94;
  height: 42;
  padding-top: 10px;
  padding-right: 12px;
  padding-bottom: 10px;
  padding-left: 12px;
  gap: 6;
  /* angle: 0 deg; */
  opacity: 1;
}

/* Access Row Text */
.accessRowText {
  font-family: TWK Everett;
  font-weight: 500;
  font-style: Medium;
  font-size: 13px;
  /* leading-trim: NONE; */
  line-height: 18px;
  letter-spacing: 0px;
  width: 48px;
  height: 18px;
  /* angle: 0 deg; */
  opacity: 1;
  text-emphasis-color: #101820;
}

/*Access Check Box */
.checkBox {
  width: 16;
  height: 16;
  /* angle: 0 deg; */
  opacity: 1;
}

/*Rider Row Table Header*/
.riderRowTableHeader {
  width: 266.5px;
  height: 42px;
  padding-top: 10px;
  padding-right: 12px;
  padding-bottom: 10px;
  padding-left: 12px;
  gap: 6;
  /* angle: 0 deg; */
  opacity: 1;
}

/*Rider Row Text*/
.riderRowText {
  width: 35px;
  height: 18px;
  /* angle: 0 deg; */
  opacity: 1;
  font-family: TWK Everett;
  font-weight: 500;
  font-style: Medium;
  font-size: 13px;
  /* leading-trim: NONE; */
  line-height: 18px;
  letter-spacing: 0px;
}

/* Phone number box */
.phoneNumberBox {
  width: 266.5;
  height: 42;
  padding-top: Spacing/3 (10px);
  padding-right: spacing-lg;
  padding-bottom: Spacing/3 (10px);
  padding-left: spacing-lg;
  gap: 6;
  angle: 0 deg;
  opacity: 1;
}

/* Phone Number Text */
.phoneNumberText {
  font-family: TWK Everett;
  font-weight: 500;
  font-style: Medium;
  font-size: 13px;
  leading-trim: NONE;
  line-height: 18px;
  letter-spacing: 0px;
  width: 97;
  height: 18;
  angle: 0 deg;
  opacity: 1;
}

/* Phone Icon */
.phoneIcon {
  width: 16;
  height: 16;
  /* angle: 0 deg; */
  opacity: 1;

  width: 12.499785423278809;
  height: 12.499878883361816;
  top: 1.5px;
  left: 2px;
  /* angle: 0 deg; */
  opacity: 1;
}

/* Last Swap */
.lastSwap {
  width: 266.5px;
  height: 42px;
  padding-top: Spacing/4 (12px);
  padding-right: spacing-lg;
  padding-bottom: Spacing/4 (12px);
  padding-left: spacing-lg;
  gap: 6;
  angle: 0 deg;
  opacity: 1;
}

/* Last Swap Icon */
.lastSwapIcon {
  width: 12px;
  height: 12px;
  top: 2px;
  left: 2px;
  angle: 0 deg;
  opacity: 1;
}

/* Remaining Quota Box*/
.remainingQuota {
  width: 266.5px;
  height: 42px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  gap: 6px;
  /* angle: 0 deg; */
  opacity: 1;
}

/* Remaining Quota Text */
.remainingQuotaText {
  font-family: TWK Everett;
  font-weight: 500;
  font-style: Medium;
  font-size: 13px;
  leading-trim: NONE;
  line-height: 18px;
  letter-spacing: 0px;
}

/*More Action Box */
.moreAction {
  width: 44;
  height: 42;
  padding-top: Spacing/3 (10px);
  padding-right: 14px;
  padding-bottom: Spacing/3 (10px);
  padding-left: 14px;
  gap: 6;
  angle: 0 deg;
  opacity: 1;
}

/* More Action Dots */
.moreActionDots {
  width: 1.5000009536743164px;
  height: 1.5000004768371582px;
  top: 7.25px;
  left: 11.5px;
  border-width: 0.5px;
  angle: 0 deg;
  opacity: 1;
  border: 0.5px solid var(--Colours-Neutrals-Black, #101820);
}

/* Name Fields Row */
.nameFieldsRow {
  width: 1244px;
  height: 42px;
  angle: 0 deg;
  opacity: 1;
  gap: 8px;
  border-bottom-width: 1px;
}

/* Plus And Minus */
.plusAndMinus {
  width: 34px;
  height: 16px;
  angle: 0 deg;
  opacity: 1;
  gap: 2;
}
